.header__logo {
    width: 142px;
    height: 33px;
    margin-top: 0;
    margin-left: 0;
}

@media screen and (max-width: 589px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
    }
}