.profile__add {
    width: 150px;
    height: 50px;
    background-color: #000;
    border: solid 1px #fff;
    background-image: url(../../../images/add.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    margin: auto 0 auto auto;
}

.profile__add:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 885px) and (min-width: 590px) {
    .profile__add {
        width: 550px;
        margin-top: 36px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 589px) {
    .profile__add {
        margin-top: 36px;
        width: 282px;
        margin-left: auto;
        margin-right: auto;
    }
}