.popup__close {
    background: none;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    border: none;
    background-image: url(../../../images/close_icon.svg);
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 589px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
        background-size: 20px 20px;
    }
}