.profile__edit {
    margin-left: 18px;
    width: 24px;
    height: 24px;
    margin-top: 15px;
    border: solid 1px #fff;
    background-color: #000;
    background-image: url(../../../images/pencil.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 589px) {
    .profile__edit {
        margin-top: 8px;
        width: 18px;
        height: 18px;
    }
}