.popup__input {
    padding: 0;
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 358px;
    min-height: 27px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border-bottom: solid 1px #545454;
}

@media screen and (max-width: 589px) {
    .popup__input {
        margin: 0 auto 0 auto;
        max-width: 238px;
    }
}